/*  font-family from google */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;0,800;1,400;1,700;1,800&display=swap');

/* al font famliy */

*{
    font-family: 'Work Sans', sans-serif;
}
/* shared style */
.button{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 24px;
    cursor: pointer;
    border: 0;
}
.teams-paragraph{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 0;
    margin-top: 53px;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 48px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 500px;
    font-size: 1rem;
}
nav li a{
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
/* banner style */
.div-1{
    /* padding: 102px 539px 0px 529px; */
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color:#131313;
}
.banner img{
    width: 100%;
    margin-top: 50px;
}
.button{
    margin-top: 32px;
}

/* responsive media style */
/* mobile devices */
@media screen and (max-width: 576px) {
        header{
            padding: 20px;
        }
        nav{
            flex-direction: column;
        }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
}

/* main relaterd style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams style */
.section-1{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 85px;
}
.teams-content{
    padding-left: 76px;
    padding-right: 76px;
}
.teams-title{
    font-size: 2.8rem;
    margin-top: 24px;
}
.span-quick{
    color:#727272;
    font-weight: 500;
}
.span-of{
    color: #131313;
    font-weight: 700;
}
.span-feature{
    color: #FF900E;
    font-weight: 700;
}
/* responsive media style */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    {
        flex-direction: column;
    }
    .section-1{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 16px;
        padding-right: 16px;
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
nav,
.section-1
{
    flex-direction: column;
}
header{
    padding: 20px;
}
}